@import "../../style/theme-color";
.header{
  height: 3rem;
  border-bottom: 1px solid @c-white-15;
  display: inline-block;
  >.title{
    padding: 1rem 1rem;
    display: inline-block;
    span{
      font-size: 1.3rem;
      margin: 0.5rem;
    }
  }

  .flight-menu{
    display: inline-block;
    float: right;
    ul > li{
      padding: 1rem 1rem;
    }

    .item{
      display: inline-block;
      padding: 0.25rem 1rem;
      margin-right: 0.5rem;
      margin-top: 0.25rem;
      cursor: pointer;
      span > i {
        font-size: 2rem;
      }
      .badge-icon sup{
        background: transparent;
        top: -0.65rem;
        left: 2.3rem;
      }
    }
    .item:hover{
      background: #7D7B7B;
    }

  }
}

.badge-icon{
  sup{
    background: #f19d1b;
    -webkit-box-shadow: none;
    box-shadow: none;
    span{
      vertical-align: middle;
    }
  }
}



