@import '../../../style/theme-color';

.notice-detail {
  .title {
    text-align: center;
    font-size: 1.5rem;
  }
  .type{
    padding: 1rem;
    .user-label{
      font-size:1.3rem;
    }
  }
  .text {
    min-height: 10rem;
    padding: 1rem;
    .notice-content {
      font-size: 1.15rem;
      margin-bottom: 1.15rem;
      padding: 0 1.5rem;
    }
    .user-label{
      font-size:1.3rem;
    }
  }
  .userList{
    min-height: 3rem;
    padding: 1rem;
    .user-label{
        font-size:1.3rem;
    }
  }
  .footer {
    text-align: right;
    > p {
      font-size: 1.15rem;
    }
  }

}




