@import '../../style/theme-color';
@import '../../style/theme-reset';
@import '../../style/button';
.stable-div{
  font-size: 1.25rem;
}

//时间控件宽度
.ant-time-picker{
  width: 100%;
}
.ant-calendar-picker-icon:after,
.ant-time-picker-icon:after{
  color: #fff;
}

//协调窗口布局调整
.ant-form-item{
  margin: 0.75rem 0;
  .ant-form-item-label,.ant-form-item-control{
    line-height: 2rem;
  }
}

.content{
  .footer{
    button{
      margin-right: 0.5rem;
      >span{
        font-size: 1.25rem;
      }
    }
  }
}

//全局提示样式重置
.ant-message-notice-content{
  background: #e8ece6;
  .ant-message-custom-content{
    span{
      font-size: 1.25rem;
    }
  }
  .ant-message-success{
    span{
      color: #38b48b;
    }
  }
  .ant-message-error{
     span{
       color: #b4340a;
     }
   }
}


