
@import "../style/base";
.air-layout{
  height: 100%;

  .ant-menu{
    margin: 0 .5rem;
    .ant-menu-submenu-title{
      height: 2.5rem;
      line-height: 2.5rem;
    }
  }



  .ant-layout-content{
    .display-flex(column);
    .flex-part();

    .no-margin{
      margin-left: 0!important;
      margin-right: 0!important;
      .display-flex();
      .flex-part();
    }

    .card{
      .display-flex();
      .ant-card{
        .display-flex( column );
        .flex-part();
        width: 100%;
        .ant-card-body{
          .flex-part();
          height: calc(~"100% - 40px");
        }
      }
    }
  }

  .ant-card-wider-padding .ant-card-body{
    padding: 0;
  }

  .ant-table-pagination.ant-pagination{
    margin: 0.3rem 0;
  }
  .ant-card-head{
    min-height: 3rem;
    .ant-card-head-title{
      padding: 0.5rem 0;
    }
  }
}


