
@import "../style/base";
.air-layout{
  height: 100%;

  .ant-menu{
    margin: 0 .5rem;
    .ant-menu-submenu-title{
      height: 2.5rem;
      line-height: 2.5rem;
    }
  }

  .all-flights{
    max-height: 900px;
  }
  .ant-layout-content{
    .display-flex(column);
    .flex-part();
    overflow: hidden;

    .no-margin{
      margin-left: 0!important;
      margin-right: 0!important;
      .flex-part();
      overflow: hidden;
    }
    @media(min-width : 992px){
      .no-margin{
        .display-flex();
      }
    }

    .card{
      .display-flex();
      .ant-card{
        .display-flex( column );
        width: 100%;
        background: @bc-black-20;
        box-shadow: 0 0.083rem 0.5rem @bc-black-10;
        border-radius: 0.25rem;
        .ant-card-body{
          height: calc(~"100% - 40px");
          padding: 0;
        }
      }
    }
  }

  .ant-card-wider-padding .ant-card-body{
    padding: 0;
  }

  .ant-table-pagination.ant-pagination{
    margin: 0.3rem 0;
  }
  .ant-card-head{
    min-height: 3rem;
    .ant-card-head-title{
      padding: 0.5rem 0;
    }
  }
}


