@import '../../style/theme-color';

.portal-layer {
  position: absolute;
  top: 0;
  //left:50%;
  width: 0;

  .content {
    max-height: 60rem;
    overflow: auto;
    padding: 1rem;
  }
}
.portal-layer{
  .title {
    padding: 0.75rem .5rem;
    border-bottom: 1px solid @c-white-50;
    font-size: 1.25rem;
    .close-target {
      display: inline-block;
      float: right;
      &:hover {
        cursor: pointer;
      }
      > i {
        font-size: 1.25rem;
      }
    }
  }
}




