.content{
  .short-info{
    border-bottom: 1px solid #aaa;
    .main-title{
      text-align: center;
      margin: 0.5rem 0;
      >span{
        font-size: 1.75rem;
      }
      .name{
        padding-right: 1rem;
      }
      .effectiveTime{
        padding-right: 1rem;
      }
      .status.running {
        color: #38b48b ;
      }
      .status.future {
        color: #2ca9e1;
      }
      .status.terminated {
        color: #d69090;
      }
      .status.cancel {
        color: #a59aca;
      }
      .status.finished {
        color: #afafb0;
      }
    }
    .main-date{
      padding: 0px 5rem;
      >div{
        font-size: 1.25rem;
        margin: 0.5rem 0 0.25rem 0;
      }
    }
  }
  .menu{
    padding: 0.5rem 2rem 0 1rem;
    .total{
      float: right;
      label{
        font-size: 2rem;
        padding-right: 0.5rem;
      }
    }
  }
  .flowcontrol-table{
    margin-top: 0.5rem;
    height: 60rem;
    .ant-table-wrapper{
      height: calc(100% - 0.5rem);
    }
  }
}

.collaborate-canvas{
  .content{
    padding: 0;
  }
}