

/*
 *  项目组件样式
 */
//----------------覆盖antd样式------start-------------------------------

@import "./theme-color";

//Select 下拉列表组件样式
.ant-select-selection--single {
  .ant-select-selection-selected-value {
    line-height: inherit;
    font-size: 14px;
  }
  .ant-select-arrow {
    color: #fff;
  }
}
// 多选
.ant-select-selection--multiple .ant-select-selection__choice {
  background: @bc-black-80;
  color: #aaa;
}

//Select 下拉列表组件列表样式
.ant-select-selection:hover {
  border-color: #d9d9d9;
}

.ant-select-dropdown-menu {
  background-color: @bc-black-100;
  border: 1px solid @c-white-100;
  border-radius: 4px;
  .ant-select-dropdown-menu-item-selected,
  .ant-select-dropdown-menu-item-selected:hover {
    background-color: #a9a3a3;
  }
  .ant-select-dropdown-menu-item {
    font-size: 14px;
  }

  .ant-select-dropdown-menu {
    background: @bc-black-100;
  }
}

.ant-select-dropdown-menu-item-disabled {
  color: #FFFFFF;
}

.ant-calendar-picker-clear {
  font-size: 1.2rem;
}
.ant-calendar-selected-day .ant-calendar-date {
  background-color: @bc-black-20;
}

//模态框
.ant-modal-content{
  background-color: @bc-black-80;
  border: 1px solid @c-white-30;
  border-radius: 4px;
  background-clip: padding-box;
  .ant-confirm-btns > .ant-btn {
    color: #333333;
    background-color: #E5E5E5;
    &:hover, &:focus, &:active {
      color: #333333;
      background-color: #d3d3d3;
    }
  }
  .ant-confirm-btns > .ant-btn.ant-btn-primary{
    color: #FFFFFF;
    background-color: #578ebe;
    &:hover, &:focus, &:active {
      color: #FFFFFF;
      background-color: #437cae;
    }
  }
}

//重置radio-button样式
.ant-radio-group{
  .ant-radio-button-wrapper{
    background: @bc-black-80;
  }
  .ant-radio-button-wrapper-checked{
    background: #578ebe;
    border-color: #578ebe;
    color: #fff;
  }
  .ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused {
    color: #cccccc;
  }
}
//协调窗口日历
.ant-calendar{
  background-color: @bc-black-100;
  .ant-calendar-last-month-cell,.ant-calendar-next-month-btn-day {
    .ant-calendar-date{
      color: rgb(107, 107, 107);
    }
  }
  //今天按钮样式
  .ant-calendar-footer-btn{
    line-height: 3rem;
    >a{
      color: #fff;
    }
  }
  //日期控件--当日按钮字体颜色
  .ant-calendar-last-month-cell,.ant-calendar-next-month-btn-day, .ant-calendar-today{
    .ant-calendar-date{
      color: #cccccc;
    }
  }
  //日期按钮hover底色
  .ant-calendar-date:hover{
    background: #888888;
  }
  //不可选日期按钮底色
  .ant-calendar-disabled-cell .ant-calendar-date{
    background: #1d1c1c;
    &:hover{
      background: #1d1c1c;
    }
  }
  //可选日期按钮底色
  .ant-calendar-selected-date , .ant-calendar-selected-start-date, .ant-calendar-selected-end-date{
    .ant-calendar-date{
      background: #4c4c4c;
      color: #000;
      &:hover{
        background: #4c4c4c;
      }
    }
  }
}
//日期时间控件样式
.ant-time-picker-panel-inner{
  background-color: @bc-black-100;
  .ant-time-picker-panel-input{
    background-color: @bc-black-100;
    font-size: 1.25rem;
  }
  li.ant-time-picker-panel-select-option-selected{
    background: #a9a3a3;
  }
  .ant-time-picker-panel-clear-btn:after{
    color: #a9a3a3;
  }
}

//----------------覆盖antd样式---------end----------------------------

