/*
 *  项目主题 常用基本样式变量
 *  @author liutianjiao
 *  @date  2018-06-26
 */
//----------------自定义样式变量------start-------------------------------
@bc-black-100: rgba(0, 0, 0, 1);
@bc-black-10: rgba(0, 0, 0, 0.1);
@bc-black-20: rgba(0, 0, 0, 0.2);
@bc-black-30: rgba(0, 0, 0, 0.3);
@bc-black-80: rgba(0, 0, 0, 0.8);


@c-white-100: rgba(255, 255, 255, 1);


.bc-image-1{
  background: url('../images/1.jpg');
}
.bc-image-2{
  background: url('../images/2.jpg');
}
.bc-image-3{
  background: url('../images/3.jpg');
}
.bc-image-4{
  background: url('../images/4.jpg');
}
.bc-image-5{
  background: url('../images/5.jpg');
}
.bc-image-6{
  background: url('../images/6.jpg');
}
.bc-image-7{
  background: url('../images/7.jpg');
}
.bc-image-8{
  background: url('../images/8.jpg');
}
.bc-image-9{
  background: url('../images/9.jpg');
}
.bc-image-10{
  background: url('../images/10.jpg');
}
//----------------覆盖antd样式---------end----------------------------