

/*
 *  项目组件样式
 */
//----------------覆盖antd样式------start-------------------------------

@import "./theme-color";

//Select 下拉列表组件样式
.ant-select-selection--single {
  .ant-select-selection-selected-value {
    line-height: inherit;
    font-size: 14px;
  }
  .ant-select-arrow {
    color: #fff;
  }
}
// 多选
.ant-select-selection--multiple .ant-select-selection__choice {
  background: @bc-black-80;
  color: #aaa;
}

//Select 下拉列表组件列表样式
.ant-select-selection:hover {
  border-color: #d9d9d9;
}

.ant-select-dropdown-menu {
  background-color: @bc-black-100;
  border: 1px solid @c-white-100;
  border-radius: 4px;
  .ant-select-dropdown-menu-item-selected,
  .ant-select-dropdown-menu-item-selected:hover {
    background-color: #a9a3a3;
  }
  .ant-select-dropdown-menu-item {
    font-size: 14px;
  }

  .ant-select-dropdown-menu {
    background: @bc-black-100;
  }
}

.ant-select-dropdown-menu-item-disabled {
  color: #FFFFFF;
}

.ant-calendar-picker-clear {
  font-size: 1.2rem;
}
.ant-calendar-selected-day .ant-calendar-date {
  background-color: @bc-black-20;
}

//模态框
.ant-modal-content{
  background-color: @bc-black-80;
  border: 1px solid @c-white-30;
  border-radius: 4px;
  background-clip: padding-box;
  .ant-btn-primary{
    color: #FFFFFF;
    background-color: #578ebe;
    &:hover, &:focus, &:active {
      color: #FFFFFF;
      background-color: #437cae;
    }
  }
}

//----------------覆盖antd样式---------end----------------------------

