@import "../../style/theme-color";
@import "../../style/base";
.total label {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.air-table{
  table{
    tr{
      td,th{
        padding: 0.5rem!important;
      }
    }
  }

  .ant-table-fixed{
    .ant-table-tbody,.ant-table-thead{
      .bc-image-4;
      background-size: cover;
    }
  }
}



//处理表格和容器自适应问题
.air-table{
  height: 100%;
  .display-flex(column);

  .operation{
    .total{
      height: 3rem;
      line-height: 3rem;
    }
  }
  .ant-table-wrapper{
    margin: 0 1rem;
    height: calc(~"100% - 2.5rem");
    .ant-spin-nested-loading{
      height: 100%;
      .ant-spin-container{
        height: 100%;
        .ant-table{
          height: 100%;
          .ant-table-content{
            height: 100%;
            .ant-table-scroll{
              height: 100%;
              .ant-table-body{
                /*减去表头高度*/
                max-height: calc(~"100% - 2.33rem")!important;
              }

            }
            .ant-table-fixed-left{
              height: calc(~"100% - 1.33rem");
              .ant-table-body-outer{
                height: calc(~"100% - 1rem");
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }

}




