@import "../../style/theme-color";

.login{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background: url('../../images/11.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;


  .content{
    padding: 40px 40px 40px 40px;
    margin-bottom: 100px;
    overflow: hidden;
  }
}
.login_form{
  .ant-form-item{
    font-size: 16px;
    margin-bottom: 12px;
  }
  .ant-input {
    font-size: 16px;
  }
  .title{
    color: @c-white-100;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .form_input{
    font-size: 16px;
    input{
      height: 43px;
    }
  }
  .forgot{
    float: right;
  }
  .ant-alert-message{
    color: #86181d;
  }
  .ant-form-item-control {
    margin-bottom: 20px;
  }
  .login_button {
    width: 100%;
  }
  .ant-btn-primary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
  }
  .ant-input:hover, .ant-input:focus,.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: #40a9ff;
  }
  .ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background-color: #40a9ff;
    border-color: #40a9ff;
  }
}
