@import "../style/theme-color";

.air-header{
  background-color: @bc-black-30;
  padding: 0 1.5rem;
  .system-title{
    line-height: 5.3rem;
    font-size: 2.5rem;
    display: inline-block;
  }
  .navbar{
    line-height: 5.3rem;
    margin-top: 1.5rem;
    float: right;
    display: inline-block;
    .usef-info {
      line-height: 2;
      font-size: 1.25rem;
      label{
        font-size: 1.5rem;
        margin-left: 0.5rem;
      }
    }

  }
}

