@import '../style/theme-color';
.ant-menu-dark.ant-menu-submenu-popup{
  background: @bc-black-80;
}
//导航激活颜色
.ant-menu-horizontal{
 > .ant-menu-item:hover,
 > .ant-menu-item-active,
 > .ant-menu-submenu .ant-menu-submenu-title:hover{
  background-color: @bc-black-30;
 }
}
//导航菜单布局
.ant-menu-item, .ant-menu-submenu-title{
 padding: 0 1rem;
 >span{
  font-size: 2rem;
  > i{
   font-size: 2rem;
   color: #fff;
  }
 }
 label{
  font-size: 1.25rem;
  >i{
   font-size: 1.25rem;
  }
 }
}
//导航展开高亮到子菜单后颜色
.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active, .ant-menu-submenu-title:hover{
 color: #fff;
}

.menu-right{
 float: right;
}

.ant-menu-vertical, .ant-menu-vertical-left, .ant-menu-vertical-right, .ant-menu-inline{
 > .ant-menu-item{
   line-height: 2.5rem;
   height: 2.5rem;
 }
}

.opt-menu-canvas{
 display: inline;
}

//流控相关页面位置
.flowcontol-layer{
  left: 50%;
  top: 50%;
}
